@import '../../../../util/Constant/sass-variable-list.scss';

.interactive-gantt {
  width: 100%;
  &__data {
    margin-top: 61px;
    width: 100%;
    position: relative;
    &.interactive-gantt__data {
      @include self-space-row-remove-border();
    }
  }
  &__scale {
    height: 30px;
    position: relative;
  }
}
