@import '../../../../util/Constant/sass-variable-list.scss';

.interactive-gantt {
  width: 100%;
  &__bar-selector {
    &.interactive-gantt__bar-selector {
      @include self-space-row-remove-border();
    }
  }
  &__data {
    width: 100%;
    position: relative;
    top: 80px;
    &.interactive-gantt__data {
      @include self-space-row-remove-border();
    }
  }
  &__scale {
    position: relative;
  }
}
