@import '../../util/Constant/sass-variable-list.scss';

.map-object-detailed {
  background-color: rgba($white, 0.85);
  border: 0.5px solid $black;
  box-sizing: border-box;
  cursor: pointer;
  font-size: $font-size--tiniest;
  padding: $padding--small;
  position: relative;
  width: 100%;

  &__heading {
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    height: 15px;
    text-align: left;
      position: absolute;
      top: 2px;
      left: 2px;
  }

  &__close-button {
    background-color: $menu--green;
    color: $white;
    font-size: $font-size--tiniest;
    padding: $padding--tiniest;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $step-forward;
    &:hover {
      background-color: $menu--green-hover;
      color: $black;
    }

    &.no-data {
      &.no-data {
        background-color: $red--dark;
        font-size: $font-size--small;
        color:  $white;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__details {
    left:0;
    position: absolute;
    right:0;
    top:0;
  }

  .histogram__caption {
    font-size: $font-size--small;
    padding-top: $padding--small;
    position: relative;
  }

  .histogram-bar-list-label {
    @include row-layout();
    font-size: $font-size--small;
    min-height: 0;
    padding: 0;
  }

  .x-axis-line-number {
    &.center {
      display: none;
    }
    &__num {
      font-size: $font-size--tiniest;
      font-weight: $font-weight--bold;
      padding: $padding--tiniest;
    }
  }
}