@import '../../util/Constant/sass-variable-list.scss';

.year-slider {
  background-color: $grey--very-light;
  height: 30px;
  position: relative;
  width: 100%;

  &.year-slider {
    margin-bottom: 6px;
  }

  &__button {
    background-color: $grey--dark;
    color: $white;
    position: relative;
    width: 2.5%;
  }
}