@import '../../util/Constant/sass-variable-list.scss';

.year-slider {
  background-color: $green--grey;
  box-sizing: border-box;
  height: 46px;
  padding: $padding--small 0.5%;
  position: relative;
  width: 100%;

  &.year-slider {
    margin-bottom: 4px;
    margin-top: 2px;
  }

  &__rail {
    background-color: $green--grey;
    box-shadow: 0 0 10px 0 inset $grey--medium;
    position: relative;
    width: 100%;
  }

  &__button {
    background-color: $green--dark;
    color: $white;
    font-size: $font-size--medium-large;
    position: relative;
    width: 5%;

    &:focus {
      background-color: $green;
      color: $black;
    }
  }

  &__ghost-button {
    background-color: $red--medium;
    height: 34px;
    outline: none;
    position: absolute;
    width: 5%;
    :focus {
      background-color: none;
    }
  }
}