@import '../../util/Constant/sass-variable-list.scss';

.drag-graph {
  border: 2px solid $grey--lightest;
  box-sizing: border-box;
  margin-bottom: 40px;
  &__heading {
    box-shadow: none;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  }
  &__scale-detail {
    text-align: center;
  }
  &__controls {
    justify-content: center;
  }
  &__point {
    background-color: rgba($white, 0.6);
    border: 1px solid var(--black);
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: var(--padding--small-tiny);
    position: relative;
    height: 58px;
    width: 40px;

    &-label {
      font-size: var(--font-size--medium-small);
      height: 15px;
      text-align: center;
      width: 100%;
    }

    &-num {
      align-items: center;
      background-color: var(--white);
      border-radius: 50%;
      border: 1px solid var(--grey--light);
      display: flex;
      height: 28px;
      justify-content: center;
      width: 28px;
    }
  }
}
