@import '../../util/Constant/sass-variable-list.scss';

.style-guide {
  h4 {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__color-list {
    flex-wrap: wrap;
  }

  &__color-block {
    margin-bottom: var(--spacing--narrow);
    width: 48px;
    height: 48px;
  }

  &__font-list {
    line-height: var(--line-height--large);

    li {
      align-self: flex-start;
    }

    h4,
    h5 {
      padding: var(--padding--tiniest) var(--padding--small-tiny);
    }

    h4 {
      background-color: var(--blue--dark);
      color: var(--white);
    }

    h5 {
      background-color: var(--blue);
      color: var(--black);
    }
  }

  &__font {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__padding-and-spacing {
    &--outer {
      background-color: rgba($red--medium, 0.3);
      box-shadow: 0 0 0 1px inset var(--blue--dark);
      box-sizing: border-box;
      width: 100px;
      height: 100px;
    }
    &--inner {
      background-color: rgba($red--medium, 0.6);
      box-shadow: 0 0 0 1px inset var(--blue--dark);
      height: 100%;
    }
  }
}