@import './util/SassVariableList/sass-variable-list.scss';

.row-layout {
  display: flex;
}
.column-layout {
  display: flex;
  flex-direction: column;
  &.right {
    align-items: flex-end;
  }
}

.space-children {
  & > * {
    @include space-row()
  }
  &--with-border > * {
    @include space-row-add-border()
  }
  &--wide > * {
    @include space-row--wide()
  }
  &--wide-with-border > * {
    @include space-row--wide-add-border()
  }
  &--narrowest > * {
    @include space-row--narrowest()
  }
}


.space-children--column {
  & > * {
    @include space-column()
  }
}

.space-children--wide-column {
  & > * {
    @include space-column--wide()
  }
  &-with-border > * {
    @include space-column--wide-add-border()
  }
}
