@import '../../util/Constant/sass-variable-list.scss';

.scatter {
  &__chart-wrapper {
    max-width: 70vw;
    width: 70vw;

    @media (max-width: $media-switch--medium) {
      width: 60vw;
    }

    @media (max-width: $media-switch--small) {
      width: 50vw;
    }
  }
}
