@import '../../util/Constant/sass-variable-list.scss';

.svg {
  &__drag-graph-list {
    width: 100%;
    flex-wrap: wrap;

    & > * {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      @media (min-width: $media-switch__medium) {
        margin-left: 3%;
        margin-right: 3%;
        width: 44%;
      }
    }
  }
}