@import '../../util/Constant/sass-variable-list.scss';

.scatter-chart {
  box-sizing: border-box;
  flex: 1;
  padding: var(--padding--very-large);
  width: 100%;
  &__number {
    fill: var(--black);
    fill-opacity: 1;
    font-size: var(--font-size--medium-small);
    text-align: right;
  }
  &__y-label {
    transform: rotate(-90deg);
  }
}
