@import '../../util/Constant/sass-variable-list.scss';

.scatter-chart {
  box-sizing: border-box;
  flex: 1;
  padding: var(--padding--very-large);
  width: 100%;
  max-width: 90vh;
  max-height: 90vh;
  &__number {
    fill: var(--black);
    fill-opacity: 1;
    font-size: var(--font-size--medium-small);
    text-align: right;
  }
  &__y-label {
    transform: rotate(-90deg);
  }
  &__outcome-severe {
    fill: var(--prime-symptom--severe);
  }
  &__outcome-not-severe {
    fill: var(--prime-symptom--not-severe);
  }
  &__care-level-severe {
    stroke: var(--prime-symptom--severe);
  }
  &__care-level-not-severe {
    stroke: var(--prime-symptom--not-severe);
  }
}
