.error-output {
  align-items: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  &__text {
    background-color: var(--red--dark);
    color: var(--white);
    font-size: var(--font-size--medium);
    font-weight: bold;
    padding: var(--padding--small) var(--padding--medium);
  }
}
