.gantt-bar-quantile-list {
  &__line {
    background-color: var(--grey--dull-dark);
    height: var(--gantt-bar-quantile-height);
    position: absolute;
    width: 2px;
    z-index: var(--step-right-forward);
  }
}
