.gantt-chart {
  position: relative;
  top:80px;
  width: 100%;

  &__zoom-buttons {
    box-sizing: border-box;
    height: 40px;
    justify-content: space-between;
    padding: 0 var(--spacing--narrow);
    top: -40px;
    position: absolute;
    width: 100%;
  }
}