.x-axis-line-list {
  position: relative;
  &__line {
    background-color: var(--grey--light);
    position: absolute;
    height: 2px;
    opacity: 0.5;
    z-index: var(--step-right-back);
    &--highlight {
      background-color:var(--blue--dark);
    }
  }
}