@import '../../util/Constant/sass-variable-list.scss';

.ui-header-bar {
  border-bottom: 1px solid var(--grey--black);
  padding-bottom: var(--spacing--narrow);
  transition: left 1s;
  width: 100%;

  &__main-button {
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 0;
    width: 100px;
    @media (min-width: $media-switch--large) {
      display: none;
    }
  }

  &__close-x-button {
    position: absolute;
    top: -5px;
    right: 0;
    @media (min-width: $media-switch--large) {
      display: none;
    }
  }

  &__nav-and-filter {
    @include row-layout();
    justify-content: space-between;
    @media (max-width: $media-switch--large) {
      @include column-layout();
      & > * {
        @include space-column--wide-add-border();
      }
    }
  }

  &.open {
    @media (max-width: $media-switch--large) {
      left: 0;
    }
  }

  @media (max-width: $media-switch--large) {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey--black);
    border-right: 1px solid var(--grey--black);
    border-top: var(--padding--medium) solid var(--white);
    border-left: var(--padding--medium) solid var(--white);
    left: -210px;
    position: absolute;
    top: 0 - $padding--small-tiny;
    width: 200px;
    z-index: var(--menu-guaranteed);
  }
}
