.histogram-bar-list {
  cursor: pointer;
  position: absolute;
  z-index: var(--step-right-forward);
  &:focus {
    .histogram-bar-count,
    .histogram-bar-label {
      display: flex;
      z-index: var(--front-guaranteed);
    }
  }
  &:hover {
    .histogram-bar-list-label {
      background-color: var(--blue--light);
    }
    .histogram-bar-count,
    .histogram-bar-label {
      display: flex;
      z-index: var(--front-guaranteed);
    }
  }
}