@import '../../util/Constant/sass-variable-list.scss';

.map-svg {
  width: 100%;

  &__svg {
    background-color: var(--blue--lightest);
    margin-bottom: 40px;
    width: 100%;
    polygon {
      fill: var(--green);
      stroke: var(--green--dark);
      stroke-width: 0.5;
      fill-opacity: 0.3;
      article {
        display: none;;
      }
      &:hover {
        fill: var(--blue);
        fill-opacity: 0.8;
        cursor: pointer;
        article {
          background-color: red;
          height: 100px;
          width: 100px;
          display: flex;
        }
      }
    }
  }

  &__data {
    height: 100px;
    width: 100px;
  }
}