.menu-button {
  background-color: var(--menu--green);
  color: var(--white);
  font-size: var(--font-size--medium);
  font-weight: var(--font-weight--bold);
  width: 100%;

  &:focus,
  &:hover {
    background-color: var(--menu--green-hover);
    color: var(--black);
  }
}