.gantt-scale {
  background-color: var(--green--dark);
  height: 2px;
  position: relative;
  top: var(--spacing--narrow);
  width: 100%;
  &__line {
    background-color: var(--green--dark);
    opacity: 0.7;
    position: absolute;
    top: 0px;
    width: 2px;
  }
  &__label {
    background-color: var(--green--dark);
    color: var(--white);
    font-size: var(--font-size--medium-large);
    font-weight: bold;
    padding: var(--padding--small-tiny);
    position: absolute;
    top: 2px;
  }
}
