@import '../../util/Constant/sass-variable-list.scss';

.map-object-simple {
  background-color: $white;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  font-size: var(--font-size--tiniest);
  height: 10px;
  width: 24px;

  &__label {
    align-items: center;
    background-color: var(--white);
    display: flex;
    justify-content: center;
  }
}
