@import '../../util/Constant/sass-variable-list.scss';

.map-object-simple {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;

  &__label {
    align-items: center;
    border-radius: 3px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding: var(--padding--tiny);
  }

  &__small {
    font-size: var(--font-size--small-tiny);
  }

  &__medium {
    font-size: var(--font-size--small);
  }
}
