.prime-symptom-histogram {
  width: 100%;
  align-items: center;

  &__tool {
    align-items: center;
    display: flex;
  }

  &__graph {
    width: 100%;
  }
  &__number-explanation {
    display: block;
    text-align: center;
    width: 100%;
  }
  .histogram-bar--nonFatal {
    background-color:var(--blue--dark);
  }
  .histogram-bar--fatal {
    background-color:var(--red--dark);
  }
}