.heading-and-text-panel {
  font-size: var(--font-size--large);
  line-height: var(--line-height--large);
  max-width: 800px;

  h2,
  h3 {
      box-shadow: none;
  }

  h3 {
    color: var(--blue--dark);
    font-size: var(--font-size--very-large);
    font-weight: var(--font-weight--bold);
  }
}
