.data-adjuster-button-list {
  align-items: stretch;
  font-size: var(--font-size--medium);
  width: 40px;

  &__button {
    width:  100%;
    white-space: nowrap;
  }
  &__label {
    text-align: center;
    white-space: nowrap;
    width: 100%;
  }
}
