@import '../../util/Constant/sass-variable-list.scss';

.gantt-toggle-list {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  &__button {
    @media (max-width: $media-switch--small) {
      padding-top: $spacing--narrow;
    }
  }
}