.x-axis-line-number {
  position: absolute;

  &.left {
    text-align: left;
    left: 0;
  }
  &.right {
    text-align: right;
    right: 0;
  }
  &.center {
    left: 50%;
    margin-left: -5%;
    text-align: center;

    .x-axis-line-number__num {
      background-color: var(--blue--light);
      color: var(--blue--dark);
    }
  }

  &__num {
    background-color: var(--blue--dark);
    color: var(--white);
    padding: var(--padding--small-tiny) var(--padding--small);
  }
}
