.x-axis-line-number {
  position: absolute;
  text-align: right;
  left: -2%;
  width: 2%;
  z-index: var(--step-right-forward);

  &__num {
    background-color: var(--blue--dark);
    box-shadow: 0 0 0 1px inset var(--white);
    color: var(--white);
    padding: var(--padding--small-tiny);
  }
}